@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    display: flex;
    height: 100vh;
    margin: 8px 0px;
    background-color: black;
    color: white;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100vw;
    min-width:unset;
}

#header {
    text-align: center;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

#container > div > h1 {
    font-family: Lexend;
    margin: 0px;
}

#container > div > p {
    margin: 0px auto;
    max-width: 20em;
}

#login {
    text-align: center;
    flex: 0.6 1 0%;
}

#senha {
    padding: 0.3em;
    margin: 0.5em;
    border-radius: 5px;
}

#login > button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 100px;
}

#login > p {
    margin: 1em auto;
}

header {
    background-color: white;
    padding: 0.5em 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: Lexend;
}

header > h1 {
    color: black;
    margin: 0px;
    flex-grow: 1;
}

header > button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 100px;
    font-family: Lexend;
}

#escolhas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 2em 0px;
    flex-direction: column;

}

#escolhas > button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 5.5em 0.5em 1em ;
    cursor: pointer;
    font-size: 1.3em;
    max-width: 6em;
    border-radius: 100px;
    font-family: Lexend;
}

#filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caixaBusca {
    text-align: center;
    margin: 0px auto 2em;
    font-family: Lexend;
}

#caixaBusca > input {
    text-align: center;
    line-height: 3em;
    max-width: 80%;
    width: 30em;
    border-radius: 10px;
    font-family: Lexend;
}

#container-jogadores {
    display: grid;
    gap: 1em;
    min-width: 80vw;
    grid-template-columns: auto;
    justify-content: center;
    align-self: center;
}



.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    width: 275px;
    height: 400px;
    font-family: Lexend;
}

.nome {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.imagem {
    margin-top: 10px;
    width: 220px;
    object-fit: none;
    height: 300px;
    object-position: 100% 10%;
    border: 2px solid black;
}

.saibaMais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 224px;
    height: 40px;
    margin-top: -40px;
    color: black;
}

#detalhes {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    font-family: Lexend;
}

.imgDetalhes {
    width: 80%;
}

#fotoNome {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
}

#fotoNome > p {
    font-size: 18px;
    text-align: center;

}

#detalhesAtleta {
    width: 60%;
}

#voltar {
    width: 40%;
    align-self: center;
}

@media screen and (min-width: 768px){
    body {
        margin: 8px;
    }

    #container {
        flex-direction: row;
        margin: auto;
        width: 70vw;
        min-width: 800px;
    }

    #login > p {
        margin: 0px auto;
    }

    #container > div > h1 {
        font-size: 30px;
    }

    #escolhas {
        flex-direction: row;
    }

    #detalhes {
        display: flex;
        align-items: center;
        gap: 1em;
        flex-direction: row;
        font-family: Lexend;
    }

    .imgDetalhes {
        width: 80%;
    }

    #fotoNome {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        align-items: center;
    }

    #fotoNome > p {
        font-size: 18px;
        text-align: center;

    }

    #detalhesAtleta {
        width: 750px;
    }

    #voltar {
        width: 80%;
    }

    #container-jogadores {
        display: grid;
        gap: 1em;
        min-width: 80vw;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-self: center;
    }
}